@page
@model NET_Projekt.Pages.Recipes.ProfileModel
@{
    ViewData["Title"] = "Profil";
}
<h1>Profil</h1>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].IngredientsList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].PublicationDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        
            @for (int i = Model.Recipe.Count-1; i >= 0; i--)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Recipe[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Recipe[i].IngredientsList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Recipe[i].Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Recipe[i].PublicationDate)
                </td>

                
            </tr>
            }
        
    </tbody>
</table>