@page
@model NET_Projekt.Pages.Recipes.ProfileModel
@{
    ViewData["Title"] = "Profil";
}
<h1>Profil</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].IngredientsList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].PublicationDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientsList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>

                
            </tr>
        }
    </tbody>
</table>