@page
@model NET_Projekt.Pages.Raitings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Raiting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raiting.IsPositive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raiting.IsPositive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raiting.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raiting.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raiting.Recipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raiting.Recipe.Content)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
