@page
@using Microsoft.AspNetCore.Identity
@using NET_Projekt.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <a class="btn btn-info" asp-page="./Recipes/Create">Dodaj Przepis</a>
        <a class="btn btn-outline-info" asp-page="./Recipes/Index">Zobacz Swoje Przepisy</a>
    </div>
    <br>
}
<form method="get">
    <div class="form-group">
        <h6>Wyszukaj przepisy po kategorii: </h6>
        <select asp-for="CategoryRecipe" class="form-control" asp-items="ViewBag.CategoryID"></select>
    </div>
    <input type="submit" value="Szukaj" class="btn btn-primary" />
</form>
<div class="form-row">
    <div class="col-md-6 mb-6">
        <form method="get">
            <div class="form-group mt-2">
                <h6>Wyszukaj przepisy po nazwie: </h6>
                <input asp-for="Recipe" class="form-control" /><br />
                <input type="submit" value="Szukaj" class="btn btn-primary" />
                <input type="hidden" name="handler" value="Name" /><br />
            </div>
        </form>
    </div>
    <div class="col-md-6 mb-6">
        <form method="get">
            <div class="form-group mt-2">
                <h6>Wyszukaj przepisy po autorze: </h6>
                <input asp-for="Username" class="form-control" /><br />
                <input type="submit" value="Szukaj" class="btn btn-primary" />
                <input type="hidden" name="handler" value="Username" /><br />
            </div>
        </form>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-6">
        @if (Model.Top10Re != null)
        {
            <h2>TOP 10 Najlepszych Przepisów</h2>
            @foreach (var item in Model.Top10Re)
            {
                <h3>
                    @Html.DisplayNameFor(model => item.Name):
                    @item.Name
                </h3>
                <p>
                    Autor:
                    @item.ApplicationUser.UserName<br/>
                    Ocena:
                    @Model.Sort.GetValueOrDefault(item)
                </p>
                <p>
                    <a asp-page="./Recipes/Details" asp-route-id="@item.Id">Szczegóły</a>
                </p>
            }
        }
    </div>
    <div class="col-md-6 mb-6">
        @if (Model.CategoryRecipe != null)
        {
            <h2>Twoje Wyszukanie: </h2>
            @foreach (var item in Model.CategoryRecipes)
            {
                <h3>
                    @Html.DisplayNameFor(model => item.Recipe.Name):
                    @item.Recipe.Name
                </h3>
                <p>
                    Autor:
                    @item.Recipe.ApplicationUser.UserName
                </p>
                <p>
                    <a asp-page="./Recipes/Details" asp-route-id="@item.RecipeID">Szczegóły</a>
                </p>
            }
        }
        @if (Model.Recipes != null)
        {
            <h2>Twoje Wyszukanie: </h2>
            @foreach (var item in Model.Recipes)
            {
                <h3>
                    @Html.DisplayNameFor(model => item.Name):
                    @item.Name
                </h3>
                <p>
                    Autor:
                    @item.ApplicationUser.UserName<br/>
                    Data Publikacji:
                    @item.PublicationDate
                </p>                   
                <p>
                    <a asp-page="./Recipes/Details" asp-route-id="@item.Id">Details</a>
                </p>
            }
        }
    </div>
</div>
