@page
@using Microsoft.AspNetCore.Identity
@using NET_Projekt.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if (SignInManager.IsSignedIn(User))
{
<div class="text-center">
    <a class="btn btn-info" asp-page="./Recipes/Create">Dodaj Przepis</a>
    <a class="btn btn-outline-info" asp-page="./Recipes/Index">Zobacz Swoje Przepisy</a>
</div>
    <br>
}
<form method="get">
    <div class="form-group">
        <h6>Wyszukaj przepisy po kategorii: </h6>
        <select asp-for="CategoryRecipe" class="form-control" asp-items="ViewBag.CategoryID"></select>
    </div>
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    <div class="form-group">
        <h5>Wyszukaj przepisy po nazwie: </h5>
        <input asp-for="Recipe" /><br />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
    <div class="form-group">
        <h5>Wyszukaj przepisy po autorze: </h5>
        <input asp-for="Username" /><br />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
</form>


@if (Model.CategoryRecipe != null)
{
    @foreach (var item in Model.CategoryRecipes)
    {
        <h3>
            @Html.DisplayNameFor(model => item.Recipe.Name):
            @item.Recipe.Name
        </h3>
        <p>
            Autor:
            @item.Recipe.ApplicationUser.UserName
        </p>
        <p>
            <a asp-page="./Recipes/Details" asp-route-id="@item.RecipeID">Details</a>
        </p>
    }
}


@if (Model.Recipe != null || Model.Username != null)
{
    @foreach (var item in Model.Recipes)
    {
        {
            <h3>
                @Html.DisplayNameFor(model => item.Name):
                @item.Name
            </h3>
            <p>
                Autor:
                @item.ApplicationUser.UserName
            </p>
            <p>
                <a asp-page="./Recipes/Details" asp-route-id="@item.Id">Details</a>
            </p>
        }
    }
}

